<div class="page-wrapper">
  <!-- START HEADER-->
  <app-header></app-header>
  <!-- END HEADER-->
  <!-- START SIDEBAR-->
  <app-sidebar></app-sidebar>

  <!-- END SIDEBAR-->
  <div class="content-wrapper">

    <!-- START PAGE CONTENT-->

    <!-- BREAD CRUMB START-->

    <!-- <app-breadcrumb></app-breadcrumb> -->

    <!-- BREAD CRUMB END-->

    <router-outlet></router-outlet>



     <app-footer></app-footer>
  </div>
</div>

<!-- START SEARCH PANEL-->

<!-- END SEARCH PANEL-->
<!-- BEGIN THEME CONFIG PANEL-->

<!-- END THEME CONFIG PANEL-->
<!-- BEGIN PAGA BACKDROPS-->
<div class="sidenav-backdrop backdrop"></div>
<div class="preloader-backdrop">
  <div class="page-preloader">Loading</div>
</div>
<!-- END PAGA BACKDROPS-->
<!-- New question dialog-->

<!-- End New question dialog-->
<!-- QUICK SIDEBAR-->

<!-- END QUICK SIDEBAR-->
